<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.chnsys.dtc.court.std.base.dao.v2009.CourtCodeV2009Dao">

	<sql id="columns">
		YOUX,MINGC,CHUANGJSJ,SHANCSJ,SHANCBJ,XIANSSX,FENJM,SHUOM,DAIM,SHIJC
	</sql>

	<resultMap type="cn.com.chnsys.dtc.court.std.base.entity.CourtCode" id="resultMap">
				<result column="YOUX" property="valid" />
				<result column="MINGC" property="name" />
				<result column="CHUANGJSJ" property="createTime" />
				<result column="SHANCSJ" property="deleteTime" />
				<result column="SHANCBJ" property="deleteFlag" />
				<result column="XIANSSX" property="sortOrder" />
				<result column="FENJM" property="gradeCode" />
				<result column="SHUOM" property="description" />
				<result column="DAIM" property="code" />
				<result column="SHIJC" property="timestamp" />
			</resultMap>

	<sql id="where_sql">
		<where>1=1
						<if test="valid != null">AND YOUX = #{valid}</if>
						<if test="name != null">AND MINGC = #{name}</if>
						<if test="createTime != null">AND CHUANGJSJ = #{createTime}</if>
						<if test="deleteTime != null">AND SHANCSJ = #{deleteTime}</if>
						<if test="deleteFlag != null">AND SHANCBJ = #{deleteFlag}</if>
						<if test="sortOrder != null">AND XIANSSX = #{sortOrder}</if>
						<if test="gradeCode != null">AND FENJM = #{gradeCode}</if>
						<if test="description != null">AND SHUOM = #{description}</if>
						<if test="code != null">AND DAIM = #{code}</if>
						<if test="timestamp != null">AND SHIJC = #{timestamp}</if>
					</where>
	</sql>

	<insert id="insertRecord" parameterType="cn.com.chnsys.dtc.court.std.base.entity.CourtCode">
		INSERT INTO XXHGL_FAYDM (DAIM
									<if test="valid != null">,YOUX</if>
												<if test="name != null">,MINGC</if>
												<if test="createTime != null">,CHUANGJSJ</if>
												<if test="deleteTime != null">,SHANCSJ</if>
												<if test="deleteFlag != null">,SHANCBJ</if>
												<if test="sortOrder != null">,XIANSSX</if>
												<if test="gradeCode != null">,FENJM</if>
												<if test="description != null">,SHUOM</if>
																		<if test="timestamp != null">,SHIJC</if>
								)VALUES(#{code}
									<if test="valid != null">,#{valid}</if>
												<if test="name != null">,#{name}</if>
												<if test="createTime != null">,#{createTime}</if>
												<if test="deleteTime != null">,#{deleteTime}</if>
												<if test="deleteFlag != null">,#{deleteFlag}</if>
												<if test="sortOrder != null">,#{sortOrder}</if>
												<if test="gradeCode != null">,#{gradeCode}</if>
												<if test="description != null">,#{description}</if>
																		<if test="timestamp != null">,#{timestamp}</if>
								)
	</insert>
	
	<insert id="insertRecords" parameterType="java.util.List">
		INSERT INTO XXHGL_FAYDM (DAIM
									, YOUX
												, MINGC
												, CHUANGJSJ
												, SHANCSJ
												, SHANCBJ
												, XIANSSX
												, FENJM
												, SHUOM
																		, SHIJC
								)VALUES
		   <foreach collection="list" item="item" index="index" separator="," >  
       		(#{item.code}
									, #{item.valid}
												, #{item.name}
												, #{item.createTime}
												, #{item.deleteTime}
												, #{item.deleteFlag}
												, #{item.sortOrder}
												, #{item.gradeCode}
												, #{item.description}
																		, #{item.timestamp}
						)
    		</foreach>  
	</insert>

	<update id="updateRecord" parameterType="cn.com.chnsys.dtc.court.std.base.entity.CourtCode">
		UPDATE XXHGL_FAYDM SET
		 <trim suffix="" suffixOverrides=",">
						<if test="valid != null">YOUX = #{valid},</if>
								<if test="name != null">MINGC = #{name},</if>
								<if test="createTime != null">CHUANGJSJ = #{createTime},</if>
								<if test="deleteTime != null">SHANCSJ = #{deleteTime},</if>
								<if test="deleteFlag != null">SHANCBJ = #{deleteFlag},</if>
								<if test="sortOrder != null">XIANSSX = #{sortOrder},</if>
								<if test="gradeCode != null">FENJM = #{gradeCode},</if>
								<if test="description != null">SHUOM = #{description},</if>
												<if test="timestamp != null">SHIJC = #{timestamp},</if>
				</trim>
		WHERE DAIM = #{code}
	</update>

	<delete id="deleteRecordById" parameterType="string">
		DELETE FROM
		XXHGL_FAYDM where DAIM = #{id}
	</delete>
	
	<delete id="deleteRecordsByIds">
		DELETE FROM
		XXHGL_FAYDM where DAIM in (
		 <foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</delete>
	
	<select id="getCourtCodeByGradeCode" parameterType="string" resultMap="resultMap">
        SELECT
        <include refid="columns" />
        FROM XXHGL_FAYDM
        WHERE FENJM = #{gradeCode}
    </select>
	
	<select id="getRecords" parameterType="cn.com.chnsys.dtc.court.std.base.entity.CourtCode" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM XXHGL_FAYDM
		<include refid="where_sql" />
	</select>

	<select id="getRecordById" parameterType="string" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM XXHGL_FAYDM
		WHERE DAIM = #{id}
	</select>

	<select id="getRecordByInterfaceId" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM XXHGL_FAYDM
		WHERE daim = #{0} AND jiekbs = #{1}
	</select>
	
	<select id="getRecordsByIds"  resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM XXHGL_FAYDM
		WHERE DAIM in  (
		<foreach collection="array" item="id" index="index" separator="," >  
		 #{id}
   		 </foreach>)
	</select>

	<select id="getTotalRecord" parameterType="cn.com.chnsys.dtc.court.std.base.entity.CourtCode" resultType="java.lang.Integer">
		select count(DAIM) from
		XXHGL_FAYDM 
		<include refid="where_sql" />
	</select>
	
		<select id="getMaxRecord" resultType="java.lang.Integer">
		select max(xianssx) from
		XXHGL_FAYDM
	</select>
	<select id="getName" resultType = "string">
		SELECT MINGC FROM XXHGL_FAYDM WHERE DAIM = #{0}
	</select>
	</mapper>